#profileBlock header {
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  width: 100%;
  background: #5a5a5a40;
  display: flex;
  align-items: center;
}

#profileBlock header figure {
  flex-basis: 25%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#profileBlock header figure img {
  width: 100%;
  border-radius: 100%;
}

#profileBlock header aside {
  flex-basis: 75%;
}

#profileBlock header aside h5 {
  font-size: 17px;
  color: #fff;
  padding: 20px 0;
}

#profileBlock header aside h1 {
  font-size: 6em;
  text-transform: capitalize;
  color: #fff;
  font-weight: 900;
}

#profileBlock header figure:hover ._editIcon {
  filter: drop-shadow(2px 4px 6px black);
  display: block;
}

._editIcon {
  position: absolute;
  display: none;
  color: #000;
  padding-left: 90px;
  padding-top: 50px;
}

._editIcon i {
  display: block;
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
}

#photo_upload_block > article {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#photo_upload_block ._block {
  width: 500px;
  text-align: center;
  color: #fff;
  background: #282828;
  padding: 10px;
  margin: 200px;
  display: flex;
  flex-direction: column;
}

#progressSection > article {
  display: flex;
  color: #fff;
  background-color: orange;
  width: 100%;
}

#progressSection > article > span:nth-child(1) {
  flex-basis: 95%;
}

#progressSection > article > span:nth-child(2) {
  flex-basis: 5%;
}

progress {
  width: 100%;
}
